<div id="main" class="body-section" role="main">
  <!--[if lt IE 8]>
            <div class="alert alert-warning" role="alert">
                <p>You are using an outdated browser. Please <a class="alert-link" href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
            </div>
        <![endif]-->


  <div id="home-page-banner">
    <div class="banner-bg">
      <div id="slider">
        <div class="slide-1">

        </div>
        <div class="slide-2">

        </div>
        <div class="slide-3">

        </div>
        <!-- <div class="ls-slide ls-slide-1 ls-active" data-ls="transition2d: 5;" style="width: 1295px; height: 400px; visibility: visible; display: none; left: auto; right: 0px; top: 0px; bottom: auto;">
            <img class="ls-bg ls-preloaded" src="Content/images/assets/mountains/mountain-1.jpg" style="width: 1920px; height: 1275px; margin-left: -312.5px; margin-top: -437.5px; visibility: visible;">
            <div class="ls-gpuhack"></div>
          </div>
          <div class="ls-slide ls-slide-2" data-ls="transition2d: 5;" style="width: 0px; height: 400px; visibility: visible; display: none; left: 0px; right: auto; top: 0px; bottom: auto;">
            <img class="ls-bg ls-preloaded" src="Content/images/assets/mountains/mountain-2.jpg" style="width: 1920px; height: 1311px; margin-left: -312.5px; margin-top: -455.5px; visibility: hidden;">
            <div class="ls-gpuhack"></div>
          </div>
          <div class="ls-slide ls-slide-3" data-ls="transition2d: 5;" style="width: 0px; height: 400px; visibility: visible; display: none; left: 0px; right: auto; top: 0px; bottom: auto;">
            <img class="ls-bg ls-preloaded" src="Content/images/assets/mountains/mountain-3.jpg" style="width: 1920px; height: 1280px; margin-left: -312.5px; margin-top: -440px; visibility: hidden;">
            <div class="ls-gpuhack"></div>
          </div>
          <div class="ls-slide ls-slide-4" data-ls="transition2d: 5;" style="width: 0px; height: 400px; left: 0px; right: auto; top: 0px; bottom: auto; visibility: visible; display: none;">
            <img class="ls-bg ls-preloaded" src="Content/images/assets/mountains/mountain-4.jpg" style="width: 1920px; height: 1280px; margin-left: -312.5px; margin-top: -440px; visibility: hidden;">
            <div class="ls-gpuhack"></div>
          </div>
          <div class="ls-circle-timer" style="display: block;">
            <div class="ls-ct-left">
              <div class="ls-ct-rotate" style="transform: matrix3d(0.128449, 0.991716, 0, 0, -0.991716, 0.128449, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);">
                <div class="ls-ct-hider">
                  <div class="ls-ct-half"></div>
                </div>
              </div>
            </div>
            <div class="ls-ct-right">
              <div class="ls-ct-rotate" style="transform: matrix(-1, 0, 0, -1, 0, 0);">
                <div class="ls-ct-hider">
                  <div class="ls-ct-half"></div>
                </div>
              </div>
            </div> -->

      </div>
    </div>


  </div>
  <div class="header">
    <span class="title">Welcome to MBFS</span>
  </div>
  <div class="body center-center">
    <div class="mbfs-badge">
      <img src="/Content/images/assets/logos/mbfs-badge(250).png" alt="Mont Blanc Financial Services">
    </div>
    <div class="blockquote-container">
      <div class="quote-body">Clients don't care what you know, until they know that you care.</div>
      <div class="quote-attribution">Nicola Iozzo</div>
    </div>
  </div>
  <div class="footer">
    <div class="call-to-action-container">
      <div class="call-to-action">
        <span class="text">You could save on your insurance</span> <i class="fa"></i>
      </div>
      <a href="/insurance-quote/" class="btn orange">Get A Quote</a>
    </div>
  </div>
</div>
<div class="section">
  <div class="section-row center">
    <div class="info-section">
      <div class="section-title">
        <h1>Who We Are</h1>
        <div class="h-line"></div>
      </div>
      <div class="section-content">
        <p>
          Since its arrival on the short-term insurance scene in 1999, Mont Blanc Financial Services has established itself as a serious and dynamic industry player. Although the company is still only in its adolescence, it is changing the face of modern insurance
          as we know it, and has matured into one of South Africa’s premier independent short-term brokers while always aspiring to reach new heights and break new ground.
          <br>
          <br> We strive to retain and grow our client base through providing solid, reliable, technically-correct and innovative advice to address any insurance, risk management and financial needs. We strive to create and maintain a close working relationship
          with our clients, which is why we consider them more as partners.
        </p>
        <div class="button-container">
          <a href="/about/" class="btn orange">Read More</a>
          <button class="btn primary" data-lightbox-open="#who-we-are-lightbox">Watch The Video</button>

        </div>
      </div>
    </div>
  </div>
  <div id="who-we-are-lightbox" class="lightbox" data-content="video">
    <div class="lightbox-backdrop"></div>
    <div class="lightbox-container">
      <div class="lightbox-wrapper">
        <div class="lightbox-header-wrapper">
          <div class="lightbox-title">Who We Are</div>
          <div class="lightbox-close"><a href="javascript:;" data-modal-close="#who-we-are-lightbox">X</a></div>
        </div>
        <div class="lightbox-body-wrapper">
          <div class="video-wrapper" data-video-name="whoweare" data-allowfullscreen="true">
            <div class="responsive-video-container ratio-16x9 video-container"></div>
          </div>
        </div>
        <div class="lightbox-footer-wrapper">
          <div class="button-container">
            <button class="btn green" data-modal-close="#who-we-are-lightbox">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="swash-divider"></div>
<div class="section">
  <div class="section-row center">
    <div class="info-section">
      <div class="section-title">
        <h1>Why have a broker?</h1>
        <div class="h-line"></div>
      </div>
      <div class="section-content">
        <p>
          Primarily clients perceive any middle man as an unnecessary third party and conventional wisdom dictates that this means additional costs and possibly mistakes.
        </p>
        <div class="button-container">
          <button class="btn primary" data-lightbox-open="#why-have-a-broker-lightbox">Watch The Video</button>

        </div>
      </div>
    </div>
  </div>
  <div id="why-have-a-broker-lightbox" class="lightbox" data-content="video">
    <div class="lightbox-backdrop"></div>
    <div class="lightbox-container">
      <div class="lightbox-wrapper">
        <div class="lightbox-header-wrapper">
          <div class="lightbox-title">Why Have A Broker</div>
          <div class="lightbox-close"><a href="javascript:;" data-modal-close="">X</a></div>
        </div>
        <div class="lightbox-body-wrapper">
          <div class="video-wrapper" data-video-name="whyhaveabroker" data-allowfullscreen="true">
            <div class="responsive-video-container ratio-16x9 video-container"></div>
          </div>
        </div>
        <div class="lightbox-footer-wrapper">
          <div class="button-container">
            <button class="btn green" data-modal-close="">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="swash-divider"></div>
<div class="section">
  <div class="section-row center">
    <div class="info-section">
      <div class="section-title">
        <h1>We get you Claims Ready!</h1>
        <div class="h-line"></div>
      </div>
      <div class="section-content">
        <h3>What does it mean to be Claims Ready?</h3>
        <br>
        <p>
          Getting a client <span style="color: #00AEEF">claims ready</span> is a continual process, it is not a once off thing we do when clients take out a policy. Most brokers only manage your risk on paper, at Mont Blanc, our brokers go in and assess
          your situation. We cover all the what ifs and possible eventualities before there is an issue.
        </p>
        <div class="button-container">
          <a href="/claims-ready/" class="btn orange">Read More</a>
          <button class="btn primary" data-lightbox-open="#claims-ready-lightbox">Watch The Video</button>

        </div>
      </div>
    </div>
  </div>
  <div id="claims-ready-lightbox" class="lightbox" data-content="video">
    <div class="lightbox-backdrop"></div>
    <div class="lightbox-container">
      <div class="lightbox-wrapper">
        <div class="lightbox-header-wrapper">
          <div class="lightbox-title">Getting You Claims Ready</div>
          <div class="lightbox-close"><a href="javascript:;" data-modal-close="">X</a></div>
        </div>
        <div class="lightbox-body-wrapper">
          <div class="video-wrapper" data-video-name="claimsready" data-allowfullscreen="true">
            <div class="responsive-video-container ratio-16x9 video-container"></div>
          </div>
        </div>
        <div class="lightbox-footer-wrapper">
          <div class="button-container">
            <button class="btn green" data-modal-close="">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</div>
