<div id="main" class="body-section" role="main">
  <div id="page-banner">
    <div class="banner-bg">
      <div id="slider">
        <div class="slide-1">
        </div>
        <div class="slide-2">
        </div>
        <div class="slide-3">
        </div>
      </div>
    </div>
    <div class="header">
      <span class="title">Welcome to MBFS</span>
    </div>
    <div class="footer">
      <div class="call-to-action-container">
        <div class="call-to-action">
          <span class="text">Clients don't care what you know, until they know that you care.</span>
        </div>
        <img src="img/monte-thumbs(250).png" alt="Monte" class="banner-footer-monte order-4"/>
        <a href="/insurance-quote/" class="btn btn-lg" role="button">Get A Quote</a>
      </div>
    </div>
  </div>
</div>
