<div id="main" class="body-section" role="main">
  <div id="page-banner">
    <div class="banner-bg">
      <div id="c-slider">
        <div class="slide">
        </div>
      </div>
    </div>
    <div class="header">
      <span class="title">Contact Us</span>
    </div>
    <div class="footer">
      <div class="call-to-action-container">
        <a href="/insurance-quote/" class="btn btn-lg order-3" role="button">Get A Quote</a>
        <img src="img/monte-thumbs(250).png" alt="Monte" class="c-banner-footer-monte"/>
      </div>
    </div>
  </div>
</div>
