<div id="footer-section" class="footer-section">
    <div class="footer-nav-wrapper">
        <div class="left"></div>
        <div class="right"></div>
        <ul class="footer-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/insurance-quote/">Get A Quote</a></li>
            <li><a href="/contact/">Contact Us</a></li>
        </ul>
    </div>
    <div class="footer-featured-container">
        <div class="featured-item">
            <a href="http://www.fia.org.za" target="_blank">
                <img class="responsive" src="images/fia-logo-white.png" alt="Financial Intermediary Association">
            </a>
        </div>
        <div class="social-media-nav-container">
            <div class="item-wrapper">
                <a class="item" href="/contact-me/">
                    <img src="/im/social-media/email-icon(100).png" alt="Contact Me">
                </a>
                <a class="item" href="https://www.facebook.com/mbfs.global" target="_blank">
                    <img src="/Content/icons/social-media/facebook-icon(100).png" alt="Facebook">
                </a>
                <a class="item" href="https://twitter.com/MontBlanc_FS" target="_blank">
                    <img src="/Content/icons/social-media/twitter-icon(100).png" alt="Twitter">
                </a>
                <a class="item" href="https://www.youtube.com/montblancinsurance" target="_blank">
                    <img src="/Content/icons/social-media/youtube-icon(100).png" alt="YouTube">
                </a>
                <a class="item" href="https://plus.google.com/116906303712828351602" target="_blank">
                    <img src="/Content/icons/social-media/google-plus-icon(100).png" alt="Google Plus">
                </a>
                <a class="item" href="" target="_blank">
                    <img style="width: auto" src="/Content/icons/social-media/gender-equality-symbol.png" alt="gender equality">
                </a>
            </div>
        </div>
        <div class="featured-item">
            <a href="https://www.salesforce.com" target="_blank">
                <div>Proudly powered by </div>
                <div>
                    <img class="responsive" src="/Content/images/salesforce-logo.png" alt="Salesforce">
                </div>
            </a>
        </div>
    </div>
    <div id="footer-disclaimer">
        <div id="fsp-cycle-container">
            <p style="display: block;">
                © Copyright Mont Blanc Parastatal (Pty)Ltd, All Rights Reserved, 2017
                An Authorised Financial Services Provider FSP No 45374
        </div>
    </div>
</div>
