<header id="primary-header" class="primary-header" role="banner">
  <div class="nav-left" role="navigation">
    <ul class="desktop-links">
      <li>
        <a data-menu-trigger="product-menu" href="javascript:;" aria-expanded="false" class="has-icon">Products</a>
      </li>
      <li>
        <a data-menu-trigger="info-menu" href="javascript:;" aria-expanded="false" class="has-icon">Information</a>
      </li>
      <li>
        <a data-menu-trigger="none" href="/" aria-expanded="false" class="has-icon">Home page</a>
      </li>
    </ul>
    <ul class="mobile-links">
      <li>
        <a class="reveal-menu has-icon" style="cursor: pointer" data-trigger="mobile-menu" href="javascript:;" aria-expanded="False">
          <span class="fa fa-bars fa-2x"></span>
        </a>
      </li>
    </ul>
  </div>
  <div class="nav-logo">
    <a id="image-cycle-container" href="/">
        <img id="mbp-menu-logo" class="responsive show" src="img/mbfs-logo-long-white(250).png" alt="Mont Blanc Financial Services">
      </a>
  </div>
  <div class="nav-right">
    <ul>
      <li>
        <img src="img/claims-ready-mountain(250).png" alt="Getting you claims ready" class="hidden-md-down order-4" />
      </li>
    </ul>
  </div>

</header>
