<div id="main" class="body-section" role="main">
  <div id="page-banner">
    <div class="banner-bg">
      <div id="le-slider">
        <div class="slide">
        </div>
      </div>
    </div>
    <div class="header">
      <span class="title">Corporate Social Responsibility</span>
    </div>
    <div class="footer">
      <div class="call-to-action-container">
        <img src="img/monte-handstand(200).png" alt="Monte" class="le-banner-footer-monte"/>
        <a href="https://www.littleeden.org.za/" class="btn btn-lg order-3" role="button">Little Eden Website</a>
      </div>
    </div>
  </div>
</div>
