<div class='container quick-quotes-container'>
  <span>We are a Vibrant, Professional and adaptable business and is one of South Africa's largest independent short term insurance brokers with remarkably vigorous and concistent client base growth</span>
  <h1>Quick Links</h1>
  <form class='quickQuote-buttonGroup'>
    <a class='circle-button bike-button' data-category='bike' href="javascript:void(0);">
      <img src='/img/QuoteIconsSVG/bike.svg' alt='bike' style="padding-bottom: 10px" />
      <span>Bike</span>
    </a>
    <a class='circle-button car-button' data-category='car' href="javascript:void(0);">
      <img src='/img/QuoteIconsSVG/car.svg' alt='car' style="padding-bottom: 15px" />
      <span>Car</span>
    </a>
    <a class='circle-button farm-button' data-category='farm' href="javascript:void(0);">
      <img src='/img/QuoteIconsSVG/farm.svg' alt='farm' style="padding-bottom: 5px" />
      <span>Farm</span>
    </a>
    <a class='circle-button leisure-button' data-category='leisure' href="javascript:void(0);">
      <img src='/img/QuoteIconsSVG/leisure.svg' alt='leisure' style="padding-bottom: 20px" />
      <span>Leisure</span>
    </a>
    <a class='circle-button general-button' data-category='general' href="javascript:void(0);">
      <img src='/img/QuoteIconsSVG/general.svg' alt='general' style="width: 50px; padding-bottom: 5px" />
      <span>General</span>
    </a>
    <a class='circle-button life-button' data-category='life' href="javascript:void(0);">
      <img src='/img/QuoteIconsSVG/life.svg' alt='life' style="padding-bottom: 10px" />
      <span>Life</span>
    </a>
    <a class='circle-button truck-button' data-category='truck' href="javascript:void(0);">
      <img src='/img/QuoteIconsSVG/truck.svg' alt='truck' style="padding-bottom: 10px" />
      <span>Truck</span>
    </a>
    <a class='circle-button super-car-button' data-category='super-car' href="javascript:void(0);">
      <img src='/img/QuoteIconsSVG/super-car.svg' alt='super-car' style="padding-bottom: 15px" />
      <span>Super Car</span>
    </a>
    <a class='circle-button medical-button' data-category='medical' href="javascript:void(0);">
      <img src='/img/QuoteIconsSVG/medical.svg' alt='medical' />
      <span>Medical</span>
    </a>
    <a class='circle-button pension-button' data-category='pension' href="javascript:void(0);" hidden>
      <img src='/img/QuoteIconsSVG/pension.svg' alt='pension' />
      <span>Pension</span>
    </a>
    <a class='circle-button plant-button' data-category='plant' href="javascript:void(0);">
      <img src='/img/QuoteIconsSVG/plant.svg' alt='plant' />
      <span>Factory Plant</span>
    </a>
  </form>


<!--
  <div class="psc-container cQuickQuote" data-aura-rendered-by="152:0" data-aura-class="cQuickQuote">
    <a class="psc-item psc-item-theme-bike" href="javascript:void(0);" data-category="bike" data-aura-rendered-by="154:0">
      <div class="psc-item-icon-wrapper" data-aura-rendered-by="155:0"><img class="psc-item-icon" src="/img/QuoteIconsSVG/bike.svg" data-aura-rendered-by="156:0"></div>
      <div class="psc-item-label-wrapper" data-aura-rendered-by="157:0">bike</div>
    </a>
    <a class="psc-item psc-item-theme-car" href="javascript:void(0);" data-category="car" data-aura-rendered-by="159:0">
      <div class="psc-item-icon-wrapper" data-aura-rendered-by="160:0"><img class="psc-item-icon" src="/img/QuoteIconsSVG/car.svg" data-aura-rendered-by="161:0"></div>
      <div class="psc-item-label-wrapper" data-aura-rendered-by="162:0">car</div>
    </a>
    <a class="psc-item psc-item-theme-farm" href="javascript:void(0);" data-category="farm" data-aura-rendered-by="164:0">
      <div class="psc-item-icon-wrapper" data-aura-rendered-by="165:0"><img class="psc-item-icon" src="/img/QuoteIconsSVG/farm.svg" data-aura-rendered-by="166:0"></div>
      <div class="psc-item-label-wrapper" data-aura-rendered-by="167:0">farm</div>
    </a>
    <a class="psc-item psc-item-theme-leisure" href="javascript:void(0);" data-category="leisure" data-aura-rendered-by="169:0">
      <div class="psc-item-icon-wrapper" data-aura-rendered-by="170:0"><img class="psc-item-icon" src="/img/QuoteIconsSVG/leisure.svg" data-aura-rendered-by="171:0"></div>
      <div class="psc-item-label-wrapper" data-aura-rendered-by="172:0">leisure</div>
    </a>
    <a class="psc-item psc-item-theme-general" href="javascript:void(0);" data-category="general" data-aura-rendered-by="174:0">
      <div class="psc-item-icon-wrapper" data-aura-rendered-by="175:0"><img class="psc-item-icon" src="/img/QuoteIconsSVG/general.svg" data-aura-rendered-by="176:0"></div>
      <div class="psc-item-label-wrapper" data-aura-rendered-by="177:0">general</div>
    </a>
    <a class="psc-item psc-item-theme-life" href="javascript:void(0);" data-category="life" data-aura-rendered-by="179:0">
      <div class="psc-item-icon-wrapper" data-aura-rendered-by="180:0"><img class="psc-item-icon" src="/img/QuoteIconsSVG/life.svg" data-aura-rendered-by="181:0"></div>
      <div class="psc-item-label-wrapper" data-aura-rendered-by="182:0">life</div>
    </a>
    <a class="psc-item psc-item-theme-truck" href="javascript:void(0);" data-category="truck" data-aura-rendered-by="184:0">
      <div class="psc-item-icon-wrapper" data-aura-rendered-by="185:0"><img class="psc-item-icon" src="/img/QuoteIconsSVG/truck.svg" data-aura-rendered-by="186:0"></div>
      <div class="psc-item-label-wrapper" data-aura-rendered-by="187:0">truck</div>
    </a>
    <a class="psc-item psc-item-theme-sports-car" href="javascript:void(0);" data-category="sports-car" data-aura-rendered-by="189:0">
      <div class="psc-item-icon-wrapper" data-aura-rendered-by="190:0"><img class="psc-item-icon" src="/img/QuoteIconsSVG/super-car.svg" data-aura-rendered-by="191:0"></div>
      <div class="psc-item-label-wrapper" data-aura-rendered-by="192:0">sports-car</div>
    </a>
  </div>
-->
</div>
