<div class='container quick-quotes-container'>
  <span>We are a Vibrant, Professional and adaptable business and is one of South Africa's largest independent short term insurance brokers with remarkably vigorous and concistent client base growth</span>
  <h1 class='ql-heading'>Quick Links</h1>
  <div class='quickQuote-buttonGroup'>
    <a class='circle-button bike-button' data-category='bike' href="javascript:void(0);">
      <img src='/img/QuoteIconsSVG/bike.svg' alt='bike' style="padding-bottom: 10px" />
      <span>Bike</span>
    </a>
    <a class='circle-button car-button' data-category='car' href="javascript:void(0);">
      <img src='/img/QuoteIconsSVG/car.svg' alt='car' style="padding-bottom: 15px" />
      <span>Car</span>
    </a>
    <a class='circle-button farm-button' data-category='farm' href="javascript:void(0);">
      <img src='/img/QuoteIconsSVG/farm.svg' alt='farm' style="padding-bottom: 5px" />
      <span>Farm</span>
    </a>
    <a class='circle-button leisure-button' data-category='leisure' href="javascript:void(0);">
      <img src='/img/QuoteIconsSVG/leisure.svg' alt='leisure' style="padding-bottom: 20px" />
      <span>Leisure</span>
    </a>
    <a class='circle-button general-button' data-category='general' href="javascript:void(0);">
      <img src='/img/QuoteIconsSVG/general.svg' alt='general' style="width: 30px; padding-bottom: 5px" />
      <span>General</span>
    </a>
    <a class='circle-button life-button' data-category='life' href="javascript:void(0);">
      <img src='/img/QuoteIconsSVG/life.svg' alt='life' style="padding-bottom: 10px" />
      <span>Life</span>
    </a>
    <a class='circle-button truck-button' data-category='truck' href="javascript:void(0);">
      <img src='/img/QuoteIconsSVG/truck.svg' alt='truck' style="padding-bottom: 10px" />
      <span>Truck</span>
    </a>
    <a class='circle-button super-car-button' data-category='super-car' href="javascript:void(0);">
      <img src='/img/QuoteIconsSVG/super-car.svg' alt='super-car' style="padding-bottom: 15px" />
      <span>Super Car</span>
    </a>
    <a class='circle-button medical-button' data-category='medical' href="javascript:void(0);">
      <img src='/img/QuoteIconsSVG/medical.svg' alt='medical' />
      <span>Medical</span>
    </a>
    <a class='circle-button pension-button' data-category='pension' href="javascript:void(0);" hidden>
      <img src='/img/QuoteIconsSVG/pension.svg' alt='pension' />
      <span>Pension</span>
    </a>
    <a class='circle-button plant-button' data-category='plant' href="javascript:void(0);">
      <img src='/img/QuoteIconsSVG/plant.svg' alt='plant' />
      <span>Plant</span>
    </a>
  </div>







</div>
