#home-page-banner {
  position: relative;
  width: 100%;

  .banner-bg {
    height: 400px;
    width: 100%;
    overflow: hidden;
    z-index: 2;

    #slider {
      width: 100%;
      height: 400px;
      position: relative;
      margin: 0;
      padding: 0;

      .slide-1 {
        background-image: url("../img/bannerSliderImages/Homepage1.jpg");
        width: 100%;
        height: 400px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }

      .slide-2 {
        background-image: url("../img/bannerSliderImages/Homepage2.jpg");
        width: 100%;
        height: 400px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }
      .slide-3 {
        background-image: url("../img/bannerSliderImages/Homepage3.jpg");
        width: 100%;
        height: 400px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }
    }
  }
}
