.four-box-row {
  padding: 30px 0;
  display: flex;
  flex-wrap: wrap;

  .c-box {
    position: relative;
    display: block;
    margin: 1%;
    width: 23%;
    overflow: hidden;

    .branch-image {
      width: 100%;
    }

    .branch-overlay {
      position: absolute;
      background-color: rgba(0,0,0,0.7);
      width: 100%;
      height: 200%;
      white-space: nowrap;
      color: white;
      font-size: 20px;
      -webkit-transition: all 0.6s ease-in-out 0s;
      -moz-transition: all 0.6s ease-in-out 0s;
      transition: all 0.6s ease 0s;

      .b-abriviation,
      .b-details {
        -webkit-transition: all 0.6s ease-out 0.2s;
        -moz-transition: all 0.6s ease-out 0.2s;
        transition: all 0.6s ease-out 0.2s;
        position: relative;
        text-shadow: 0 2px 5px #000;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 50%;
        opacity: 0;
        padding: 30px;
      }

      .b-abriviation {
        opacity: 1;
        text-align: center;

        h1 {
          font-size: 100px;
        }
      }
    }

    &:active,
    &:hover {
      .branch-overlay {
        -webkit-transform: translate(0%, -50%);
        -moz-transform: translate(0%, -50%);
        transform: translate(0%, -50%);

        .b-abriviation {
          opacity: 0;
        }

        .b-details {
          opacity: 1;
        }
      }
    }
  }

  .contact-form {
    overflow-y: scroll;
    padding-right: 10px;

    &::-webkit-scrollbar {
      width: 2px;

    }

    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    }

    &::-webkit-scrollbar-thumb {
      background-color: darkgrey;
    }

    .custom-border {
      label {
        margin: 0;
      }

      input,
      textarea {
        border-color: #00aeef;
      }

      button {
        background-color: #eb7035;
        border-color: #eb7035;
        font-weight: 600;
        color: #eee;
        text-shadow: 0 2px 2px #000;
        padding-left: 20px;
        padding-right: 20px;
        display: block;
        margin: auto;
      }
    }
  }
}
@media only screen and (max-width: 576px) {
  .c-box,
  .contact-form {
    width: 98% !important;
  }
}
@media only screen and (max-width:992px) {
  .four-box-row {
    padding: 10px;

    .c-box,
    .contact-form {
      width: 48%;

      h3 {
        font-size: 20px;
      }
    }
  }
}
